---
import { Icon } from "astro-icon/components";
---

<div class="main-menu">
    <div class="main-menu__wrapper">
      <div class="main-menu__heading">
        <h2 class="main-menu__title">Категории товаров</h2>
        <button class="main-menu__close" type="button">
          <Icon class="main-menu__icon" name="icon-close" width="24" height="24" aria-hidden="true"></Icon>
        </button>
      </div>
      <ul class="main-menu__list">
        <li class="main-menu__item">
          <a class="main-menu__link" href="#">Люстры</a>
        </li>
        <li class="main-menu__item">
          <a class="main-menu__link main-menu__link--active" href="#"
            >Светильники</a
          >
        </li>
        <li class="main-menu__item">
          <a class="main-menu__link" href="#">Бра и подсветки</a>
        </li>
        <li class="main-menu__item">
          <a class="main-menu__link" href="#">Споты</a>
        </li>
        <li class="main-menu__item">
          <a class="main-menu__link" href="#">Настольные лампы</a>
        </li>
        <li class="main-menu__item">
          <a class="main-menu__link" href="#">Торшеры</a>
        </li>
        <li class="main-menu__item">
          <a class="main-menu__link" href="#">Трековые системы</a>
        </li>
        <li class="main-menu__item">
          <a class="main-menu__link" href="#">Уличное освещение</a>
        </li>
        <li class="main-menu__item">
          <a class="main-menu__link" href="#">Офисное освещение</a>
        </li>
        <li class="main-menu__item">
          <a class="main-menu__link" href="#">Лампочки</a>
        </li>
        <li class="main-menu__item">
          <a class="main-menu__link" href="#">Светодиоидная подсветка</a>
        </li>
        <li class="main-menu__item">
          <a class="main-menu__link" href="#">Предметы инерьера</a>
        </li>
        <li class="main-menu__item">
          <a class="main-menu__link" href="#">Электротовары</a>
        </li>
        <li class="main-menu__item">
          <a class="main-menu__link" href="#">Комплектующие</a>
        </li>
      </ul>
    </div>
  </div>