---
import Container from "@components/Container/Container";
import CustomImage from "@components/CustomImage/CustomImage";
import { Icon } from "astro-icon/components";
---

<section class="day-products">
  <Container>
    <div class="day-products__top">
      <h2 class="day-products__title">Товары дня</h2>

      <!-- Навигация для слайдера -->
      <div class="day-products__navigation">
        <button
          class="day-products__navigation-btn day-products__navigation-btn--prev"
          disabled
          type="button"
        >
          <Icon name="icon-arrow-prev" width="41" height="9" />
        </button>
        <button
          class="day-products__navigation-btn day-products__navigation-btn--next"
          type="button"
        >
          <Icon name="icon-arrow-next" width="41" height="9" />
        </button>
      </div>
    </div>

    <!-- Слайдер -->
    <div class="day-products__slider swiper">
      <ul class="day-products__list swiper-wrapper">
        <li class="day-products__item">
          <div class="product-card product-card--small">
            <div class="product-card__visual">
              <CustomImage
                image={{
                  desktop: "/src/images/item-7.png",
                }}
                altText="Изображение товара"
                className="product-card__img"
              />
              <div class="product-card__more">
                <a href="#" class="product-card__link btn btn--icon">
                  <span class="btn__text">В корзину</span>
                  <Icon
                    name="icon-basket"
                    aria-hidden="true"
                    width="24"
                    height="24"
                  />
                </a>
                <a href="#" class="product-card__link btn btn--secondary">
                  <span class="btn__text">Подробнее</span>
                </a>
              </div>
            </div>
            <div class="product-card__info">
              <h2 class="product-card__title">
                Потолочная люстра Ornella A4059PL-4AB (Artelamp)
              </h2>
              <span class="product-card__old">
                <span class="product-card__old-number">15 300</span>
                <span class="product-card__old-add">₽</span>
              </span>
              <span class="product-card__price">
                <span class="product-card__price-number">11 540</span>
                <span class="product-card__price-add">₽</span>
              </span>
              <div class="product-card__tooltip tooltip">
                <button class="tooltip__btn" aria-label="Показать подсказку">
                  <Icon
                    class="tooltip__icon"
                    name="icon-i"
                    width="5"
                    height="10"
                  />
                </button>
                <div class="tooltip__content">
                  <span class="tooltip__text">Наличие товара по городам:</span>
                  <ul class="tooltip__list">
                    <li class="tooltip__item">
                      <span class="tooltip__text"
                        >Москва: <span class="tooltip__count">454</span></span
                      >
                    </li>
                    <li class="tooltip__item">
                      <span class="tooltip__text"
                        >Оренбург: <span class="tooltip__count">381</span></span
                      >
                    </li>
                    <li class="tooltip__item">
                      <span class="tooltip__text"
                        >Санкт-Петербург: <span class="tooltip__count">15</span
                        ></span
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </Container>
</section>
