---
import Container from "@components/Container/Container";
import Accordion from "@components/Accordion/Accordion";
---

<section class="faq">
  <Container>
    <div class="faq__wrapper">
      <h2 class="faq__title">Ответы на частые вопросы от покупателей</h2>
      <Accordion />
    </div>
  </Container>
</section>
