---
import Container from "@components/Container/Container";
import { Icon } from "astro-icon/components";
---

<section class="description">
  <Container>
    <Icon class="description__lamp" name="icon-lamp" width="94" height="94"/>
    <h2 class="visually-hidden">Описание магазина</h2>
    <div class="description__texts">
      <p>
        Накладные светильники можно установить на потолок, пол или стены в
        соответствии с дизайнерской концепцией. Сфера использования данных
        осветительных приборов широка. Их успешно применяют для освещения любых
        помещений: офисов, торговых и бизнес-центров, магазинов, интерьеров
        сегмента HoReCa и т.д.
      </p>
      <p>
        На нашем сайте в каталоге представлен широкий выбор накладных
        светильников. В нем вы сможете найти световые приборы различной формы,
        цвета, размера, стиля и пр. Устанавливая нужные характеристики, нетрудно
        выбрать подходящую модель. Однако чтобы купить накладные светильники под
        конкретную задачу, удобнее связаться с менеджерам. Специалисты сделают
        профессиональный проект освещения, подберут оборудование и при
        необходимости организуют доставку. Мы реализуем варианты светильников
        накладных для декоративного, направленного или заливающего освещения.
        Предлагаются модели с различными источниками света, но максимальное
        количество вариантов – среди светодиодных светильников.
      </p>
    </div>
  </Container>
</section>
