---
import Container from "@components/Container/Container";
---

<div class="breadcrumbs">
  <Container>
    <ul class="breadcrumbs__list">
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link" href="#">Главная</a>
      </li>
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link" href="#">Каталог</a>
      </li>
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link" href="#">Светильники</a>
      </li>
    </ul>
  </Container>
</div>
